.page{
	width: 100%;
}
.perenoel{
	width: 400px;
	height: 500px;
	margin: 50px auto;
}
label.label{
	text-align: center;
	display: block;
	width: 500px;
	height: auto;
	margin: 20px auto;
	font-family: 'Segoe UI';
	font-size: 18px;
	color: #f2f2f2;
}
input.textField{
	background: #dedfde;
	padding-bottom: 3px;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;

	border: none;
	height: 30px;
	width: 300px;
	text-align: center;
	font-family: georgia;
	font-size: 14px;
    font-style: italic;
    color: #888;
	margin: 0 auto;

	box-shadow: inset 1px 1px 4px rgba(0,0,0,0.9),
	 inset -1px -1px 4px rgba(255,255,255,0.9);
	-moz-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.9),
	 inset -1px -1px 4px rgba(255,255,255,0.9);
	-webkit-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.9),
	 inset -1px -1px 4px rgba(255,255,255,0.9);
	-o-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.9),
	 inset -1px -1px 4px rgba(255,255,255,0.9);
	-ms-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.9),
	 inset -1px -1px 4px rgba(255,255,255,0.9);
}
input.textField.hidden, select.hidden{
	display: none;
}
input.textField.current, select.current{
	display: block;
}
input.textField.hidden + label.label, input.textField.current + label.label, .btnNextStep + label.label{
	display: none;
}
.btnField{
	background: #e74c3c;
	cursor: pointer;
	display: none;
	margin: 20px auto;

	text-align: center;
	padding: 10px 40px;
	font-family: 'Segoe UI';
	font-size: 20px;
	border: 1px solid #c0392b;
	color: #f2f2f2;

	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;

	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}
input.textField.current + .btnNextStep{
	display: block;
}
input.textField.hidden + .btnNextStep{
	display: none;
}

select.select{
	padding: 5px;
	font-family: 'Segoe UI';
	font-size: 16px;
	color: #444;
	margin: 0 auto;
	text-align: center;
}
.htmlContainer{
	width: 600px;
	text-align:center;
	margin:auto;
}